/* GENERALI */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: black;
    min-height: 100vh;
}

/* HEADER */
.top-header {
    width: 100vw;
    padding-left: 20px;
    padding-right: 24px;
    height: 100px;
    background-color: rgba(50, 50, 50, 0.5);
}

.top-header.flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.top-header input {
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    outline: none;
    transition: all 0.2s ease;
    border-style: none;
    box-shadow: 1px 1px 10px 2px grey;
}

.top-header input:focus {
    box-shadow: 1px 1px 14px 5px red;
}

.logo img {
    width: 200px;
}

/* MAIN */
.main-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.cover {
    height: 550px;
}

.movie, .tvShow {
    height: 550px;
    width: 342px;
    margin: 10px 10px;
    border-radius: 5px;
}

.movie .poster, .tvShow .poster {
    height: 550px;
    width: 342px;
    box-shadow: 1px 1px 20px 1px rgb(90, 90, 90);
    transition: all 0.1s ease;
}

.movie .poster:hover, .tvShow .poster:hover {
    cursor: pointer;
    opacity: 0.3;
}

.middle {
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 10px 15px;
    cursor: pointer;
}

.cover:hover .poster {
    opacity: 0.3;
}

.cover:hover {
    box-shadow: 1px 1px 20px 5px red;
    overflow-y: hidden;
}

.cover {
    position: relative;
}

.cover:hover .middle {
    opacity: 1;
}

.movie h3, .tvShow h3 {
    margin: 10px 0;
    color: white;
    font-size: 26px;
}

.movie h4, .tvShow h4, .overview {
    margin: 10px 0;
    color: white;
}

.language, .vote {
    color: white;
    font-size: 20px;
}

.movie ul, .tvShow ul{
    list-style-type: none;
}

.movie .flags, .tvShow .flags {
    width: 30px;
    vertical-align: middle;
    margin-left: 5px;
}

.display-none {
    display: none;
}

.fas, .far {
    color: gold;
}
