<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="root" class="flex">
            <header>
                <div class="top-header flex">
                    <div class="logo">
                        <img src="img/boolflix-logo.png" alt="BoolFlix logo">
                    </div>
                    <div class="right-search">
                        <input type="text" name="" value="" placeholder="Search a movie or a TV series..." v-model="userSearch" @keyup="searchMovie(); searchTv()">
                    </div>
                </div>
            </header>
            <main>
                <div class="main-container">
                    <ul>
                        <li class="movie" v-for="(movie, index) in movies">
                            <div class="cover">
                                <img class="poster" :src="'https://image.tmdb.org/t/p/w342'+movie.poster_path" @error="noPoster" alt="">
                                <div class="middle">
                                    <div class="hover">
                                        <h3>Title: {{movie.title}}</h3>
                                        <h4>Original title: {{movie.original_title}}</h4>
                                        <span class="language">Language: <img class="flags" :src="'img/'+movie.original_language+'.svg'" @error="noFlag" alt=""></span>
                                        <div class="vote">Vote: <i class="fas fa-star" v-for="n in voteStars(movie)"></i><i class="far fa-star" v-for="n in 5 - voteStars(movie)"></i></div>
                                        <div class="overview">Overview: {{movie.overview}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tvShow" v-for="(tvShow, index) in tvShows">
                            <div class="cover">
                                <img class="poster" :src="'https://image.tmdb.org/t/p/w500'+tvShow.poster_path" @error="noPoster" alt="">
                                <div class="middle">
                                    <div class="hover">
                                        <h3>Title: {{tvShow.name}}</h3>
                                        <h4>Original title: {{tvShow.original_name}}</h4>
                                        <span class="language">Language: <img class="flags" :src="'img/'+tvShow.original_language+'.svg'" @error="noFlag" alt=""></span>
                                        <div class="vote">Vote: <i class="fas fa-star" v-for="n in voteStars(tvShow)"></i><i class="far fa-star" v-for="n in 5 - voteStars(tvShow)"></i></div>
                                        <div class="overview">Overview: {{tvShow.overview}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
        </div>

        <script src="js/main.js" charset="utf-8"></script>
    </body>
</html>
